POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_PORT=5432

REDIS_PORT=6379

ADMINER_PORT=8080

VICTORIA_METRICS_PORT=8428
VICTORIA_LOGS_PORT=9428
VMAGENT_PORT=8429
VMAGENT_REMOTE_WRITE_URL=http://victoria_metrics:8428/api/v1/write
VMAGENT_SCRAPE_JOB_NAME=app
VMAGENT_SCRAPE_PATH=/metrics
VMAGENT_SCRAPE_TARGET=host.docker.internal:8000
VECTOR_VICTORIA_LOGS_URI=http://victoria_logs:9428/insert/jsonline
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
